all==0.0.2
amqp==1.4.8
anyjson==0.3.3
apipkg==1.4
backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
billiard==3.3.0.22
bleach==1.4.2
celery==3.1.18
certifi==2015.11.20.1
click==6.2
coverage==3.7.1
dj-database-url==0.3.0
Django==1.9.4
django-allauth==0.21.0
django-bootstrap-breadcrumbs==0.7.1
django-bootstrap3==6.1.0
django-extensions==1.5.5
django-filter==0.10.0
django-flat-theme==0.9.5
django-markdown==0.8.4
django-nocaptcha-recaptcha==0.0.19
django-pagedown==0.1.0
django-sampledatahelper==0.3
django-simple-history==1.6.3
django-uuid-upload-path==1.0.0
django-uuidfield==0.5.0
djangorestframework==3.1.3
docker-py==0.5.3
dockerpty==0.3.4
docopt==0.6.2
execnet==1.4.1
factory-boy==2.5.2
fig==1.0.1
flake8==2.4.1
funcsigs==0.4
html5lib==0.9999999
ipdb==0.8.1
ipython==3.2.0
Jinja2==2.8
jsonfield==1.0.3
kombu==3.0.32
livereload==2.4.0
Markdown==2.6.2
markdown2==2.3.0
MarkupSafe==0.23
mccabe==0.3.1
mdx-linkify==0.6
mkdocs==0.14.0
mock==1.1.2
oauthlib==0.7.2
pbr==1.8.1
pep8==1.5.7
Pillow==2.9.0
psycopg2==2.6.1
py==1.4.31
pyflakes==0.8.1
pyreadline==2.0
pytest==2.8.5
pytest-cache==1.0
pytest-django==2.8.0
pytest-flakes==1.0.0
pytest-ipdb==0.1.dev2
pytest-pythonpath==0.7
python-openid==2.2.5
pytz==2015.7
PyYAML==3.11
qrcode==5.1
redis==2.10.3
requests==2.7.0
requests-oauthlib==0.5.0
sampledata==0.3.7
singledispatch==3.4.0.3
six==1.9.0
texttable==0.8.4
tornado==4.3
unicode-slugify==0.1.3
Unidecode==0.4.18
uWSGI==2.0.11.2
websocket-client==0.11.0
Werkzeug==0.10.4
XlsxWriter==0.7.3
